<div class="container">
<!-- <div class="wrapper-content">
  <div class="principalContent">
    <div class="contentBloc"></div>
    <div class="contentBloc"></div>
    <div class="contentBloc"></div>
    <div class="contentBloc"></div>
  </div>
</div> -->


        <div class="card">
          <div class="card-image">
            <img src="../../assets/imgs/ImageFundo.png">
            <span class="card-title blue darken-3">Bem-vindo ao Options Report!</span>
          </div>

          <div class="card-content">
            <h5>Remuneração total executiva Ultra</h5>
            <p>Construímos, ao longo dos anos, um legado importante como uma organização de sucesso, pautada em valores sólidos e práticas consistentes de gestão de pessoas. Isso nos garantiu credibilidade e uma reputação diferenciada no mercado.

                Agora, estamos escrevendo mais um capítulo da nossa história, a fim de ampliarmos nossos diferenciais, olhando para o futuro com ambição para desafiar antigos padrões e limites para continuarmos evoluindo sempre.
                
                Acompanhando essa jornada de evolução, desenvolvemos <b> a nova Estratégia de Remuneração Executiva Ultra</b>, que foi cuidadosamente pensada para alavancar ainda mais nossa competitividade perante o mercado, além de reconhecer individual e coletivamente nossos executivos.
                
                Convidamos você a conhecer os componentes da Remuneração Total Executiva Ultra:.</p><br>
                <img src="https://imagesor.azureedge.net/imagesultra/RemuneracaoTotalUltra.png" class="center" alt="Remuneração Total" width="280" height="180"><br>
                <p>
                    A transição para o novo modelo acontecerá de forma gradativa e individualizada, a fim de garantir que o atingimento de nossa estratégia seja equalizado para todos os executivos.

                    Este portal concentra as informações do componente <b>ICP (Incentivo de Curto Prazo)</b> e tem como objetivo demonstrar os Programas de forma transparente, segura e individual, desde a definição das metas (contratação) até o fechamento e apuração das mesmas.
                    
                    Reforçamos ainda o nosso comprometimento em estruturar um programa de remuneração alinhado às práticas de mercado, garantindo uma evolução constante da nossa liderança e, consequentemente, dos nossos negócios.
                </p>
          </div>
          <div class="card-action">
            <p>Canal de atendimento: remuneracao.ultra@ultra.com.br</p>
            <p>GERÊNCIA EXECUTIVA DE PESSOAS </p>
          </div>
        </div>
      </div>
