<div class="row">
    <div class="col s12 m2 l8 offset-l2" id="PasswordChangeContent">
    <div class="card card-flat">
      <div class="card-content">
        <span class="card-title activator blue-text darken-3-text">NOVA SENHA <i
            class="material-icons right  grey-text lighten-3-text">more_vert</i><small class="right activator grey-text lighten-3-text">Informações</small></span>
        <form [formGroup]="changePasswordForm" name="submitForm" (ngSubmit)="changePassword()">
          <div class="changePassInputs">
            <div class="input-field col s12">
              <input id="CurrentPassword" formControlName="CurrentPassword" type="password" class="validate">
              <label for="CurrentPassword">Senha atual</label>
            </div>
            <div class="input-field col s12">
              <input id="Password" formControlName="Password" type="password" class="validate">
              <label for="Password">Nova senha</label>
            </div>
            <div class="input-field col s12">
              <input id="ConfirmPassword" formControlName="ConfirmPassword" type="password" class="validate">
              <label for="ConfirmPassword">Confirme a senha</label>
            </div>
          </div>
          <div class="center-align">
            <button type="submit" [disabled]="!changePasswordForm.valid" class="waves-effect waves-light btn">
              Alterar
            </button>
          </div>
        </form>
      </div>
      <div class="card-reveal">
        <span class="card-title blue-text darken-3-text">INFORMAÇÕES DO USUÁRIO<i
            class="material-icons right grey-text text-darken-4">close</i></span>
            <div class="row"style="margin-top:2%">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input disabled value="admin" id="disabled" type="text" class="validate">
                      <label class="active" for="disabled">Usuário</label>
                    </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s6">
                        <input disabled value="18/05/2017" placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label class="active" for="first_name">Data de criação</label>
                      </div>
                      <div class="input-field col s6">
                        <input disabled value="18/05/2017" id="last_name" type="text" class="validate">
                        <label class="active" for="last_name">Data da última troca de senha</label>
                      </div>
                    </div>
                </form>
              </div>
      </div>
    </div>
  </div>
</div>
