<ng-template [ngIf]="authService.loggedIn()">
  <footer class="page-footer rodape">
          <div class="container">
            <div class="row">
              <div class="col l0 s2">
                      <img class="responsive-img" id="logoRodape"  src="../../../assets/imgs/logo-or-branca.svg">
              </div>
              <div class="col l0 offset-l s2">
                <h5 class="white-text">Cadastro de ILP</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Novo Plano</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Colaborador em Plano</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Despesa com nova outorga</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Workflow</a></li>
                </ul>
              </div>
              <div class="col l0 offset-l s2">
                      <h5 class="white-text">Cadastro de ILP</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Novo Plano</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Colaborador em Plano</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Despesa com nova outorga</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Workflow</a></li>
                      </ul>
                    </div>
                    <div class="col l0 offset-l s2">
                          <h5 class="white-text">Cadastro de ILP</h5>
                          <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Novo Plano</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Colaborador em Plano</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Despesa com nova outorga</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Workflow</a></li>
                          </ul>
                     </div>
                     <div class="col l0 offset-l s2">
                          <h5 class="white-text">Cadastro de ILP</h5>
                          <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Novo Plano</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Colaborador em Plano</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Despesa com nova outorga</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Workflow</a></li>
                          </ul>
                     </div>
                     <div class="col l0 offset-l s2">
                          <h5 class="white-text">Cadastro de ILP</h5>
                          <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Novo Plano</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Colaborador em Plano</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Despesa com nova outorga</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Workflow</a></li>
                          </ul>
                     </div>
            </div>
          </div>
          
        </footer>
      </ng-template>