<ng-template [ngIf]="authService.loggedIn()">
  <footer class="page-footer rodape">
          <div class="container">
            <div class="row">
              <div class="col l0 s2">
                      <img class="responsive-img" id="logoRodape"  src="../../../assets/imgs/logo-or-branca.svg">
              </div>
              <div class="col l0 offset-l s2">
                <h5 class="white-text">Title here</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Title here</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Title here</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Title here</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Title here</a></li>
                </ul>
              </div>
              <div class="col l0 offset-l s2">
                    </div>
                    <div class="col l0 offset-l s2">
                     </div>
                     <div class="col l0 offset-l s2">
                     </div>
                     <div class="col l0 offset-l s2">
                     </div>
            </div>
          </div>
          
        </footer>
      </ng-template>
