<!-- comentado para adaptação do CSS no futuro -->
<!-- <link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'> -->
<ng-template [ngIf]="authService.loggedIn()"[ngIfElse]="loggedOut">
<app-layout>
    <div class="row" style="margin-top: 5%">
        <div class="col s12 m12">
            <router-outlet></router-outlet>
        </div>
    </div>
</app-layout>
</ng-template>

<!--A tela de login tem uma estrutura diferente das demais,
    foi criado essa estrutura caso futuramente outros componentes
    tbm apresentem uma estrutura diferente do padrão com utilização do app-layout-->
<ng-template #loggedOut>
    <router-outlet></router-outlet>
</ng-template>