
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="bg_login">
  <div class="col m6 s6 l6">
    <form [formGroup]="forgotForm" (ngSubmit)="sendRecovery()" class="col s12 main_content" style="z-index: 100;">
      <div class="row">
        <div class="col s6 offset-s6">
            <p style="text-align: center;color: white"> Para recuperar a sua senha, informe o nome do usuário.
               <br> A nova senha será enviada para o e-mail cadastrado. </p>
        </div>
         
        <div class="input-field col s6 offset-s6"style="margin-top:5%;">
        
          <input id="username" formControlName="username" type="text"/>
          <label for="username">Usuario</label> <br />

          <div style="text-align:center">
            <br/>
            <a type="button" (click)="cancel()">Voltar para tela de login</a>
           
          </div>
          <br/>
          <div class="center-align">
            <button [disabled]="!forgotForm.valid" type="submit" class="waves-effect waves-light btn ">Enviar email
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
